  /*
  .journal-entry-pages .wa-link, 
  .journal-entry-pages .content-link,
  .journal-entry-pages .passive-check {
	  background-color: inherit !important;
	  color: green;
	  border: none;
  }

  .journal-entry-pages blockquote {
	  margin: 2ex 2em;
    padding: 2ex 2em;
    font-size: 110%;
	  border-right: none;
	  border-left: none;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    background: #0077000f;
  }

  .award-block [data-action="awardRequest"] {
	  margin: 0 0.5ex;
  }

  .sheet.journal-entry.dnd5e2-journal .journal-page-content .roll-link {
	  color: green;
  }

  .sheet.journal-entry.dnd5e2-journal .journal-page-content .roll-link a > i {
	  color: green !important;
  }
    */

#combat-dock #combatants {
overflow: hidden !important;
}

  .hide-ui #combat-dock {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vh;
    margin-top: 100vh;
    transform: rotate(90deg);
    transform-origin: top right;
    overflow: hidden;
  }
  
  .hide-ui #combat-dock2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    margin-top: 100vh;
    transform: rotate(270deg);
    transform-origin: top left;
    overflow: hidden;
  }
  
  .dtjul-photo-window {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }


  .dtjul-photo-box {
    position: absolute;    
    
    /*width: 30vw;*/

    border: 16px solid white;
    opacity: 0;
    animation: dtjulfadeIn 2s forwards;

    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5); /* Ombre sous la photo-box */
  }
  
  .dtjul-photo-box.side.landscape {
    left: 23%;
    top: 50%; 
    transform: translate(-50%, -50%) rotate(91deg);

    width: 100vh;
    height: 56.25vh; /* Hauteur fixe */
  }
  
  .dtjul-photo-box.bottom.landscape {
    left: 69%;
    top: 75%; 
    transform: translate(-50%, -50%) rotate(2deg);

    width: 90vh;
    height: 50vh; /* Hauteur fixe */
  }
  
  .dtjul-photo-box.top.landscape {
    left: 70%;
    top: 25%; 
    transform: translate(-50%, -50%) rotate(177deg);

    width: 90vh;
    height: 50vh; /* Hauteur fixe */
  }

  .dtjul-photo-box.side.portrait {
    left: 18%;
    top: 60%; 
    transform: translate(-50%, -50%) rotate(91deg);
    width: 30vw;
    height: 37vw; /* Hauteur fixe */
  }
  
  .dtjul-photo-box.bottom.portrait {
    left: 80%;
    top: 60%; 
    transform: translate(-50%, -50%) rotate(2deg);

    width: 33vw;
    height: 41.25vw; /* Hauteur fixe */
  }
  
  .dtjul-photo-box.top.portrait {
    left: 50%;
    top: 40%; 
    transform: translate(-50%, -50%) rotate(177deg);

    width: 33vw;
    height: 41.25vw; /* Hauteur fixe */
  }
    
  .dtjul-photo-box .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border: 0;
  }
  
  .dtjul-photo-box .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;    
  }
  
  .dtjul-photo-box .content h1, .dtjul-photo-box .content h2 {
      margin: 0;
      padding: 0;
      /*font-family: Arial, sans-serif;*/
      color: white;
      text-align: center;
  
      opacity: 0;
      transition: opacity 2.5s;
      text-shadow: -1px -1px 0 #000000c5, 1px -1px 0 #000000c5, -1px 1px 0 #000000c5, 1px 1px 0 #000000c5;
  }
  
  .dtjul-photo-box .content h1 {
      font-size: 1.1vw;
      font-weight: bold;
      font-variant: small-caps;
      letter-spacing: 2px;
  }
  
  .dtjul-photo-box .content h2 {
      font-size: 1.5vw;
      margin-bottom: 4px;
      font-family: 'Pythia', serif;
      border: 0;
  }
  
  .dtjul-subtitle {
      display: block;
      font-size: 70%;
      font-variant: small-caps;
  }
  
  .dtjul-separator {
      width: 75%;
      /*max-width: 200px;    */
      opacity: 0;
      transform: scaleX(0);
      transform-origin: center;
      transition: opacity 0.5s, transform 1s;
      border: 0;
  }
  
  @keyframes dtjulfadeIn {
      to {
          opacity: 1;
      }
  }

  .dtjul-window {
    font-family: var(--font-primary);
  }

  .dtjul-window .choice {
    font-weight: bold;
    font-size: var(--font-size-12);
    text-transform: uppercase;
    opacity: 0.5;
    padding: 4px;
  }

  .dtjul-window .active-choice {
    opacity: 1;
  }

  .dtjul-window .window-header {
    margin-block-end: 0 !important;
  }
  
  .dtjul-dice-card {
    width: 128px;
    border-radius: 3px;
    background: var(--dnd5e-background-5);
    margin: 4px;
    text-align: center;
    border: 1px solid var(--color-border-light-2);
    box-shadow: 0 0 2px #FFF inset;
  }

  .dtjul-dice-total {
    font-family: var(--font-primary);
    font-weight: 600;
    margin-top: 0.25rem;
    padding: 0.125rem;
    font-size: var(--font-size-28);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }

  .dtjul-dice-total .dice-tooltip {
    flex-grow: 0;
  }

  .dtjul-disabled {
    opacity: 0.4;
  }

  .dtjul-attack-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .dtjul-attack-results .damage {
    font-family: var(--font-primary);
    font-weight: bold;;
  }

  .dtjul-attack-results .dice-rolls {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .dtjul-attack-results .dtjul-dice-card.failed {
    background-color: #ff000013;
  }

  .dtjul-attack-results .dtjul-dice-card.success {
    background-color: #00ff2611;
  }

  .dtjul-window .window-header .window-title {
    font-size: var(--font-size-16) !important;
    font-family: var(--dnd5e-font-modesto)!important;
    font-weight: bold !important;
    opacity: 0.7;
    position: initial !important;    
  }

  /*
  ".dtjul-quick-attack-app .results" est une grille de deux colonnes
  la colonne attacks fait 55% de la largeur
  et la colonne target fait le reste.
  Utilisons la grid css pour arriver à nos fins
  */
  .dtjul-quick-attack-app .results {
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 0.5rem;
    width: 98%;
  }
  
  .dtjul-quick-attack-app .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .dtjul-quick-attack-app .weapon {
    opacity: 0.7;
    padding-top: 2px;
  }

  .dtjul-quick-attack-app .header img {
    border-radius: 50%;
  }

  .dtjul-quick-attack-app .bonus {
    flex-grow: 1;
    text-align: center;
  }

  .dtjul-quick-attack-app table {
    margin: 1ex 0 1ex 0;
  }

  .dtjul-quick-attack-app .two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .dtjul-quick-attack-app .icon {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
  }

  .dtjul-quick-attack-app .big-icon {
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
  }

  .dtjul-quick-attack-app .canceled {
    opacity: 0.7;
    /* stroke text */
    text-decoration: line-through;
    padding: 0 0.25rem;
  }

  .dtjul-quick-attack-app .canceled-motif {
    opacity: 0.7;
    font-style: italic;
  }

  .dtjul-quick-attack-app .target .value {
    text-align: right;
    white-space: nowrap;
  }

  .dtjul-quick-attack-app .sum {
    text-align: right;
  }

  .dtjul-quick-attack-app table th, .dtjul-quick-attack-app table td {
    padding: 4px 4px !important;
  }

  .dtjul-quick-attack-app .change {
    font-style: italic;
    opacity: 0.8;
    padding: 4px 0;
  }

  .dtjul-quick-attack-app .status img {
    border: 0;
    border-radius: 0;
  }

  .dtjul-quick-attack-app .delete-status {
    border: 2px solid red;
    border-radius: 4px;
  }

  /* ajouter un filtre rouge à l'image */
  .dtjul-quick-attack-app .delete-status img {
    filter: brightness(0.5) saturate(0) hue-rotate(180deg);
  }


  .dtjul-quick-damage-app .portraits {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .dtjul-quick-damage-app .header img {
    border-radius: 50% !important;
  }  

  .dtjul-quick-damage-app table th, .dtjul-quick-damage-app table td {
    padding: 2px 2px !important;
  }

.dtjul-quick-damage-app .infos {
  text-align: center;
  font-size: var(--font-size-11);
  font-weight: bold;
}

.dtjul-quick-damage-app table {
  margin: 1ex 0 1ex 0;
}

.dtjul-quick-damage-app .infos .hp { color: forestgreen; }
.dtjul-quick-damage-app .infos .ac { color: darkorange; }

.dtjul-quick-damage-app .footer {
  display: flex;
  flex-direction: row;  
  gap: 0.5rem;
  align-items: center;
}

.dtjul-quick-damage-app .attacks {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 110%;
  white-space: nowrap;  
}

.dtjul-quick-damage-app .choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.dtjul-merchant .window-header .cr-xp {
  display: none;
}

.dtjul-merchant .sheet-header {  
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;  
}

.dtjul-merchant .top {
  color: whitesmoke;
  /* ombre portée sous le texte */
  text-shadow: 0px 0px 10px #000000c5;
}

.dtjul-merchant .top .desc {
  border-radius: 8px;
  background:rgba(0, 0, 0, 0.5);
  padding: 1ex 1em;
}

.dtjul-merchant .top .desc p {
  margin: 0.2ex 0; 
  padding: 0;
  color: whitesmoke;  
}

.dtjul-merchant .buyer_portrait {
  position: absolute;
  top: -12px;
}

.dtjul-merchant .buyer_portrait img {
  border-radius: 50%;
  background: #444;
  box-shadow: 0 0 6px var(--dnd5e-shadow-45);
  border: var(--dnd5e-border-gold);
}